.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0px;
    z-index: 999;
    width: -webkit-fill-available;
}
