.dropdown{
    display: flex;
    align-items: center;
    background: white;
    width: 20rem;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 999;
}

.selected-item{
    width: -webkit-fill-available;
}